.login, .register {
    margin-top:30%;
    padding:20px;
    border-radius: 5px;
    background-color: #f2f2f2;
}

.notFound {
  text-align: center;
  color: red;
}

.iframe {
  width:60%;
  float:left;
}

.highScores{
  width: 30%;
  float: right;
  margin-left: 10%;
  margin-top: 10%;
}